.cards-custom {
  /* background: #fff; */
  overflow: hidden;
  border-radius: 25px;

}

.card_description.loading {
  height: 20rem;
  /* margin: 1rem; */
  border-radius: 25px;
}

@media screen and (max-width: 480px) {
  .card_description.loading {
    height: 10rem;
  }
}

.loading {
  position: relative;
  background: #1e1e1e;
}
.loading:after {
  content: "";
  display: block;
  /* position: absolute; */
  /* top: 0; */
  width: 100%;
  height: 100%;
  transform: translateX(-100px);
  background: linear-gradient(
    90deg,
    transparent,
    rgba(255, 255, 255, 0.2),
    transparent
  );
  animation: loading 0.8s infinite;
}
@keyframes loading {
  100% {
    transform: translateX(100%);
  }
}
